/*

selector o elemento {propiedad : valor}

ul {color : red}

class = múltiple uso

class= "red"

html     ul class="red"      en css      .red {color:red}

*/


*{
    margin: 0%;
    padding: 0;
    }


header nav ul{
    list-style-type: none;
    display:flex
}


header {
    background-color: beige;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 157, 160);
    padding: 15px;
}

header a {  
    color:rgb(72, 7, 7);    
    text-decoration: none;
    margin: 10px;
}


h1 {
    color:rgb(72, 7, 7);
 }



h5 {
    color: rgb(72, 7, 7);
}



ul {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }



p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.Nosotros{
        background-color: #FFE0E2;
}



.subtítulo{
        font-size: 18px;    
}



img {
    border-radius: 16px;

}



.imagenHeader{
    width: 100%;
    border-radius: 0%;
}



footer{
    background-color: beige;
}

input{
   border-radius: 16px
}